boday{
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
}
.section1{
    width:100%;
    background-color:#3f4fe2;
}
.header{
    width:100%;
    margin:0;
}
.header ul{
    width:100%;
    margin:0;
    text-align: center;
    padding: 15px 0;
}
.header ul li{
    display: inline-block;
}
.header ul li a{
    text-decoration: none;
    color: black;
    margin: 0 100px;
    padding: 5px;
    font-size: 25px;
  
}
.header ul li a:hover{
    color: #fff;
    background: #ff8c00;
}
.section2{
    width: 100%;
    margin: 0;
}
.section2 .cover{
    width:100%;
    height: 300px;
   position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.cover-text h1{
    margin:0;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color:#fff ;
}
.cover-text p{
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
    color: #ffb300;
}
.section3{
    width:100%;
    height: auto;
    background: #eaeaea;
    margin:0;
    text-align: center;
    overflow: hidden;
}
.container{
    width:70%;
    margin: auto;
}
.container .top {
    width:100%;
    text-align: center;
  
}
.container .top h2{
    margin: 15px 30px;
    padding: 10px 20px;
    text-align: center;
    font-size: 35px;
    color: #333;
}
.container .low{
    width:100%;
}
.container .left-low{
    width:45%;
    float:left;
    color:#333;
    font-size: 20px;
} 
.container .right-low{
    width:45%;
    float: right;
    color:#333;
    font-size: 20px;
}
.section4{
    width: 100%;
    height: auto;
    background:#2e3440;
    overflow: hidden;
}
.container .left{
    width: 30%;
    float:left;
    padding: 30px 0;
}
.container .left img{
    width:100%;
}
.container .middle{
    width: 30%;
    float:left;
    margin-left: 45px;
    padding: 30px 0;
}.container .middle img{
    width:100%;
}
.container .right{
    width: 30%;
    float:right;
    padding: 30px 0;
}
.container .right img{
    width:100%;
    margin: 0;
    padding: 0;
}
.left-text{
    background: #fff;
    margin-top: 0;
    padding-top: 20px;
}
.left-text h3{
    margin: 0;
    padding:15px;
    font-size: 25px;
}
.left-text p{
    margin: 0;
   padding:20px 20px 50px 20px;
    font-size: 20px;
}
.middle-text{
    background: #fff;
     margin-top: 0;
    padding-top: 20px;
}
.middle-text h3{
    margin: 0;
    padding:15px;
    font-size: 25px;
}
.middle-text p{
    margin: 0;
    padding:20px 20px 50px 20px;
    font-size: 20px;
}

.right-text{
    background: #fff;
     margin-top: 0;
    padding-top: 20px;
    
}
.right-text h3{
    margin: 0;
    padding:15px;
    font-size: 25px;
}
.right-text p{
    margin: 0;
    padding:20px 20px 50px 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.section5{
    width:100%;
    height: auto;
}
.text h2{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    color:#333;
    font-size: 30px;
}
.text p{
    text-align: center;
    margin: auto;
    font-size: 20px;
    color:#333;
    padding: 0 10px 50px 10px;
}
.section6{
    width:100%;
    height: auto;
    
}
.bottom-left{
    width:50%;
    height: auto;
    float:left;
    background: #2690d4;
}
.bottom-left h3{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 70px 20px 50px 20px;
    font-size: 30px;
    color:#fff;
}
.bottom-left p{
   width: 90%;
    margin: auto;
    text-align: center;
    padding: 0 0 40px 10px;
    font-size: 20px;
    color:#fff; 
}
.bottom-right{
    width:50%;
    height: auto;
    float:left;
    background: #2e3440;
}
.bottom-right h3{
     margin: auto;
    text-align: center;
    padding:  70px 20px 50px 20px;
    font-size: 30px;
    color:#fff;
}
.bottom-right p{
     width: 85%;
    margin: auto;
    text-align: center;
    padding: 0 0 75px 10px;
    font-size: 20px;
    color:#fff;
}
.footer{
    width:100%;
    height: auto;
    background: black;
    overflow: hidden;
}
.footer-left{
    width:50%;
    float:left
}
.footer-left p{
    color:#fff;
    text-align: center;
    font-size: 20px;
     padding: 10px 0;
}
.footer-right{
    width:50%;
    float:right;
}
.footer-right p{
    color:#fff;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}
.footer-right p a{
    text-decoration: none;
}
.blog1 img{
    width: 50%;
    position: relative;
    margin: 0 250px
    
}
.blog1 h1{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    color:orangered;
}
.blog1 p{
    width: 100%;
    font-size: 20px;
    margin: auto;
    padding: 20px;
}
.blog2 img{
    width:50%;
    position: relative;
    margin: 0 250px;
}
.blog2 h1{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    color:royalblue;
}
.blog2 p{
    width: 100%;
    font-size: 20px;
    margin: auto;
    padding: 20px;
}
.about img{
    width:70%;
    position: relative;
    margin: 0 200px;
}
.about h1{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    color:royalblue; 
}
.about p{
    width: 100%;
    font-size: 20px;
    margin: auto;
    padding: 20px;
}
.contact{
    width:100%;
    height: auto;
    padding: 20px;
    margin: 10px;
}
.contact legend{
    font-size: 35px;
    color:rebeccapurple;
    padding: 0 5px;
    text-align: center;
}
.contact input[type="text"]{
    padding: 5px;
    font-size: 20px;
    margin: 5px;
    
}
.contact input[type="submit"]{
     padding: 5px 20px;
    font-size: 20px;
    margin: 5px 0 0 50px;
    background:#568e46;
    border: 1px solid #333;
    border-radius: 3px;
}
.contact input[type="submit"]:hover{
    background:rebeccapurple;
    border-radius: 3px;
}

.contact textarea{
    margin: 5px 0 0 50px;
}
